**/.pbi/localSettings.json
**/.pbi/cache.abf

#Archivos de configuración de origenes
01-ventas-videojuegos/reporte/proyecto-ventas-videojuegos.SemanticModel/definition/expressions.tmdl
02-indicadores-mundiales/reporte/proyecto-indicadores-mundiales.SemanticModel/definition/expressions.tmdl
03-indicadores-rrhh/reporte/indicadores-rrhh.SemanticModel/definition/expressions.tmdl